# Python virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code local settings
.vscode/

# Environment / secrets
.env
.env.*

# Machine learning model artifacts
*.pkl
*.joblib

# OS files
.DS_Store
Thumbs.db

# Node.js dependencies
node_modules/